footer {
    font-family: 'Arial', sans-serif;
    margin-bottom: -5%;
  }
  
  footer a {
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  footer a:hover {
    color: white;
  }
  